// :root {
//     --violet: violet;
//     --purple-accent: #937DC2;
//     --black: #382C2C;

//     --body-text: #4D4C4C;
// }

$violet: #C689C6;
$purple-accent: #937DC2;
$black: #382C2C;
$white: white;
$light-gray: #F1F1F1;
$deep-gray: #B8B8B8;
$deeper-gray: #7B7881;


$body-text: #4D4C4C;
$black-proto: #313131;
$black-note: #201f1f;


// $violet: var(--violet);
// $purple-accent: var(--purple-accent);
// $black: var(--black);
// $body-text: var(--body-text);