@import '../styles/index.scss';

.main {
    padding: 72px 124px;
    @include device(tab){
        padding: 60px 20px;
    }
    @include device(mobile){
        padding: 40px 16px;
    }
    position: relative;
}